* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-asap: "Asap", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-maven: "Maven Pro", sans-serif;
  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);
  --subtitle: 400 20px/120% var(--font-inconsolata);
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 14px/140% var(--font-maven);
}

body {
  background-color: var(--gray-400);
  color: var(--gray-300);
  font: var(--text-sm);
  overflow-x: hidden;
}

.title-lg {
  color: var(--gray-100);
  font: var(--title-lg);
}

.title-md {
  color: var(--gray-100);
  font: var(--title-md);
}

.title-sm {
  color: var(--gray-200);
  font: var(--title-sm);
}

.subtitle {
  color: var(--gray-200);
  font: var(--subtitle);
}

.text-md {
  color: var(--gray-200);
  font: var(--text-md);
}

.git, .git svg { fill: var(--gray-200); color: var(--gray-200); }
.html, .html svg { fill: var(--red); color: var(--red); }
.css, .css svg { fill: var(--blue); color: var(--blue); }
.js, .js svg { fill: var(--yellow); color: var(--yellow); }

.container {
  padding-inline: 32px;
  margin-inline: auto;
  justify-content: space-between;
  max-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

svg {
  display: flex;
}

a svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:visited {
  color: inherit;
}

.scroll-link {
  display: inline-block;
  text-decoration: none;
  color: var(--gray-300);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.scroll-link:hover {
  transform: scale(1.2);
  color: var(--red);
  & svg {
    animation-play-state: paused;
  }
}

.scroll-link svg {
  display: block;
  fill: currentColor;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}