.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  background-image: url(../assets/background/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: var(--gray-400);
  background-attachment: fixed;

  & figure {
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto 56px; /* Simplifiquei o margin aqui */
    cursor: pointer;

    & img {
      position: absolute;
      top: 0;
      left: 0;
    }

    & .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
    }

    & img[src*="Border"] {
      width: 112%;
      height: 112%;
      left: -5.8%;
      top: -6%;
      z-index: 2;
      pointer-events: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      transition: all 0.4s ease;
    }

    & img[src*="Code"] {
      top: auto;
      left: auto;
      bottom: -4px;
      right: -10px;
      width: 32px;
      z-index: 3;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:hover {
      & img[src*="Code"] {
        transform: scale(1.1) translateY(-5px) translateX(2px);
      }
    }
  }

  & .tech-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    margin-block: 80px 94px;
    font: var(--text-md);
    color: var(--gray-200);
  }

  & .tech-item {
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none;
    background-color: var(--gray-400);
    border-radius: 999px;
    padding: 8px 16px;
    height: 40px;
    transition: all 0.3s ease; 
    border: 1px solid transparent;

    &.git svg { fill: var(--gray-200); }
    &.html svg { fill: var(--red); }
    &.css svg { fill: var(--blue); }

    &:hover {
      background-color: var(--gray-500);
      border-color: var(--gray-300);
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.05);
      transform: translateY(-2px);
      
      &.git svg { filter: drop-shadow(0 0 5px var(--gray-200)); }
      &.html svg { filter: drop-shadow(0 0 5px var(--red)); }
      &.css svg { filter: drop-shadow(0 0 5px var(--blue)); }
    }
  }

  & header {
    & div {
      max-width: 680px;
      & p:nth-child(2) {
        margin-block: 8px 20px;
      }
      & p span {
        color: var(--red);
      }
    }
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 40px;
  }
}