.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  background-image: url(../assets/background/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: var(--gray-400);
  background-attachment: fixed;

  & figure {
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto;

    &:nth-child(1) {
    margin: 0 auto 56px;
  }
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }

    & .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      z-index: 1;
    }

    & img[src*="Border"] {
      width: 112%;
      height: 112%;
      left: -5.8%;
      top: -6%;
      z-index: 2;
      pointer-events: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    & img[src*="Code"] {
      top: auto;
      left: auto;
      bottom: -4px;
      right: -10px;
      width: 32px;
      z-index: 3;
    }
  }

  .subtitle {
    color: var(--gray-200);
    font: var(--subtitle);
  }

  .title-lg {
    color: var(--gray-100);
    font: var(--title-lg);
  }

  & .tech-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    margin-block: 80px 94px;
    font: var(--text-md);
    color: var(--gray-200)
  }

  & .tech-item {
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none;

    background-color: var(--gray-400);
    border-radius: 999px;
    padding: 8px 16px;
    height: 40px;

    &.git svg { 
    fill: var(--gray-200); 
  }

    &.html svg { 
    fill: var(--red); 
  }

    &.css svg { 
    fill: var(--blue); 
  }
  }

  & header {
    & div {
      max-width: 680px;
      & p:nth-child(2) {
        margin-block: 8px 20px;
      }
      & p span {
        color: var(--red);
      }
    }
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 40px;
  }
}