.projects {
  padding-block: 80px;
  background-color: var(--gray-500);
  padding-bottom: 114px;

  & header {
    text-align: center;
  }

  & .subtitle {
    color: var(--red);
  }

  & .title-sm {
    color: var(--gray-100);
  } 
  
  & .text-sm {
    color: var(--gray-200);
  }

  & .project-card {
    position: relative;
    background-color: var(--gray-400);
    padding: 12px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  & .tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-top: auto;
  }

  & .project-card:hover {
    transform: translateY(-8px);
    border-color: var(--red);
    background-color: #32363f; 
    box-shadow: 
      inset 0 0 12px rgba(227, 100, 110, 0.1), 
      0 10px 30px rgba(0, 0, 0, 0.4),
      0 0 20px rgba(227, 100, 110, 0.25);
    transition-delay: 0.05s;
  }

  & .project-image {
    width: 100%;
    height: 156px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top; 
  }

  & .card-link {
    font: var(--title-sm);
    color: var(--gray-100);
    text-decoration: none;
  }

  & .card-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  & .project-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

  }

  & .title-md {
    margin: 8px 0px 56px 0px;
  }

  & .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); 
    gap: 24px;
  }
}