body {
  background-color: var(--gray-600);

  & .header {
    margin-top: 16px;
  }

  & .services {
    padding: 88px 120px 120px 120px;
    text-align: center;
  }

  & .container {
    max-width: 1200px; margin: 0 auto;
  }

  & .subtitle {
    color: var(--red);
  }

  & .title-md {
    margin-block: 8px 56px;
  }

  & .text-md {
    color: var(--gray-100);
  }

  & .title-sm {
    margin-block: 20px 8px;
  }

  & .text-sm {
    color: var(--gray-200);
  }

  & .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 100%;
    gap: 20px;

    & > div {
      padding: 24px;
      border-radius: 12px;
      border: 1px solid var(--gray-500);
      text-align: left;
      transition: border-color 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.03);
      }
    }
  }
}